# AWS Configuration
aws_region = "us-east-1"

# Project Configuration
project_name = "cloudtarkk-infragen"
environment  = "dev"

# Network Configuration
vpc_cidr               = "10.0.0.0/16"
availability_zones     = ["us-east-1a", "us-east-1b"]
public_subnet_cidrs    = ["10.0.1.0/24", "10.0.2.0/24"]
private_subnet_cidrs   = ["10.0.10.0/24", "10.0.20.0/24"]

# EKS Configuration
kubernetes_version   = "1.28"
node_instance_types  = ["t3.medium"]
node_desired_size    = 2
node_max_size        = 4
node_min_size        = 1